#main-container .post-card-admin{
    border-bottom: 1px solid rgb(224, 224, 224) ;
    font-size: 1.2rem;
}

#main-container .post-card-admin:hover{
    background-color: #eeeeee8a;
    transition: 0.15s;
}


#main-container .post-date-admin{
    font-size: 0.8rem;
}
